body {
  background-color: #606b5d;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.App img {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}
