body {
  background-color: #fff;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}
.App-header {
  margin: 30px 0;
  background-color: #f6a27b;
}

.App-footer {
  text-align: center;
  margin: 30px 0;
}

.App img {
  background-color: #f7f2e8;
  width: 300px;
  height: 300px;
  border-radius: 10px;
}
