.Dictionary {
  font-size: 20px;
  text-align: center;
}

.Dictionary section {
  background-color: #e0ebd0;
  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(149, 149, 149, 0.7);
  margin: 20px 20px;
  color: #3a3a3a;
  text-align: left;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
