.Dictionary {
  font-size: 20px;
  text-align: center;
}

.Dictionary section {
  background: linear-gradient(
    44deg,
    rgb(237, 195, 192) 50%,
    rgb(245, 222, 179) 100%
  );

  padding: 30px 20px;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(149, 149, 149, 0.7);
  margin: 20px 20px;
  color: #441505;
  text-align: left;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.Dictionary .hint {
  font-size: 11px;
  margin-top: 5px;
}
